.controller {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  margin-top: 5px;
  /* width: 60%; */
}

.controller button {
  font-size: 1.1rem;
  font-weight: 700;
  border: 1px solid var(--text-color);
  background-color: transparent;
  color: #fff;
  border-radius: 6px;
  outline: none;
  width: 85px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}

.controller button:hover {
  cursor: pointer;
  background-color: var(--text-color);
}